/* NAVBAR after login     csss    */
.nav2div {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* position:fixed; */
  box-shadow: 1px 0px 1px 0px;
}
.nav2logodiv {
  width: 50%;
}
.nav2ppp {
  /* color: blue; */
  margin-top: 17px;
}

.nav2logo {
  width: 40px;
  font-size: 30px;
  color: blue;
  margin-top: -0.1px;
  padding: 9px;
  cursor: pointer;
  margin-left: 45%;
  display: flex;
}
.nav2info {
  width: 50%;
  display: flex;
}
.nav2name {
  color: blue;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 17px;
}
.nav2imgdiv {
  display: flex;
  width: 100px;
  margin-left: 10px;
  gap: 5px;
  margin-right: 10px;
}
.nav2img {
  width: 20%;
  height: 30%;
  margin-top: 20px;
  margin-right: 2px;
}
.nav2color {
  color: blue;
  margin-right: 10px;
  margin-left: 8px;
  font-size: 14px;
  margin-top: 18px;
}
.nav2logout {
  color: blue;
  margin-right: 10px;
  margin-left: 8px;
  font-size: 14px;
  margin-top: 18px;
  cursor: pointer;
}

.nav2follow {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 18px;
}

.myhome {
  height: 45px;
  width: 100%;
  background-color: rgb(36, 88, 184);
}
.homediv {
  margin: auto;
  /* border: 1px solid red; */
  height: 98%;
  display: flex;
  gap: "20px";
}
.homebutton {
  background-color: rgb(36, 88, 184);
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  padding: 0px 14px;
  width: 130px;
}
.homebutton:hover {
  background-color: rgb(32, 76, 115);
}

/* AFTER HOVER START HERE */

.hoverdiv {
  height: 45px;
  width: 100%;
  background-color: rgb(32, 76, 115);
}
.hover2div {
  width: 50%;
  margin: auto;
  height: 98%;
  display: flex;
  margin-top: -2px;
}
.hoverdivbutton {
  background-color: rgb(32, 76, 115);
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  width: 130px;
}

@media all and (min-width: 819px) and (max-width: 1182px) {
  .nav2div {
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* position:fixed; */
    box-shadow: 1px 0px 1px 0px;
  }
  .nav2logodiv {
    width: 30%;
    /* border: 1px solid red; */
  }
  .nav2logo {
    width: 40px;
    font-size: 25px;
    color: blue;
    margin-top: -0.1px;
    padding: 9px;
    cursor: pointer;
    margin-left: 10%;
  }
  .nav2info {
    width: 70%;
    display: flex;
  }
  .nav2name {
    color: blue;
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px;
  }
  .nav2imgdiv {
    display: flex;
    width: 30%;
    margin-left: 10px;
    gap: 5px;
    margin-right: 10px;
  }
  .nav2img {
    width: 20%;
    height: 30%;
    margin-top: 20px;
    margin-right: 2px;
  }
  .nav2color {
    color: blue;
    margin-right: 10px;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 18px;
  }
  .nav2logout {
    color: blue;
    margin-right: 10px;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 18px;
    cursor: pointer;
  }

  .nav2follow {
    width: 50px;

    font-size: 12px;
    margin-top: 18px;
  }

  .myhome {
    height: 45px;
    width: 100%;

    background-color: rgb(36, 88, 184);
  }
  .homediv {
    width: 70%;
    margin: auto;
    height: 98%;
    display: flex;
    gap: "20px";
  }
  .homebutton {
    background-color: rgb(36, 88, 184);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 10px;
  }

  /* AFTER HOVER START HERE */

  .hoverdiv {
    height: 45px;
    width: 100%;
    background-color: rgb(32, 76, 115);
  }
  .hover2div {
    width: 70%;
    margin: auto;
    height: 98%;
    display: flex;
    margin-top: -4px;
  }
  .hoverdivbutton {
    background-color: rgb(32, 76, 115);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: 130px;
  }
}

@media all and (min-width: 358px) and (max-width: 742px) {
  .nav2div {
    height: 60px;
    width: 140%;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 0px 1px 0px;
  }
  .nav2logodiv {
    width: 30%;
  }
  .nav2logo {
    width: 40px;
    font-size: 20px;
    color: blue;
    margin-top: -0.1px;
    padding: 9px;
    cursor: pointer;
    margin-left: 10%;
  }
  .nav2info {
    width: 50%;
    display: flex;
  }
  .nav2name {
    color: blue;
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px;
  }
  .nav2imgdiv {
    display: flex;
    width: 0;
    margin-left: 10px;
    gap: 0px;
    margin-right: -13px;
  }
  .nav2img {
    width: 0%;
    height: 0%;
    margin-top: 20px;
    margin-right: 0px;
  }
  .nav2color {
    color: blue;
    margin-right: 3px;
    margin-left: 5px;
    font-size: 14px;
    margin-top: 18px;
  }
  .nav2logout {
    color: blue;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 14px;
    margin-top: 18px;
    cursor: pointer;
  }

  .nav2follow {
    width: 0px;
    font-size: 0px;
    margin-top: 18px;
  }

  .myhome {
    height: 45px;
    width: 140%;
    background-color: rgb(36, 88, 184);
  }
  .homediv {
    width: 80%;
    margin: auto;
    height: 98%;
    display: flex;
    gap: "20px";
  }
  .homebutton {
    background-color: rgb(36, 88, 184);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 10px;
  }

  /* AFTER HOVER START HERE */

  .hoverdiv {
    height: 45px;
    width: 140%;
    background-color: rgb(32, 76, 115);
  }
  .hover2div {
    width: 70%;
    margin: auto;
    height: 98%;
    display: flex;
    margin-top: -1px;
  }
  .hoverdivbutton {
    background-color: rgb(32, 76, 115);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: 130px;
    font-size: 11px;
  }
}
