.Items {
  height: 300px;
  /* border: 1px solid red; */
  overflow: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.Items > div > div > p {
  margin: 5px;
  color: #0088d6;
}
.Items > div > div > p:last-of-type {
  color: black;
  font-size: 14px;
}
