.mainDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid darkolivegreen; */
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

#link{
    text-decoration: none;
}


#num{
    padding:12px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

#num:hover{
    background-color: black;
    color: rgb(0, 153, 255);
    border-radius: 50%;
    cursor: pointer;
}

