.box {
  margin-bottom: 10px;
}

.box a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #0088d6;
  font-weight: 600;
  font-size: 14px;
}
.box h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #0b5680;
  font-size: 20px;
}
.sss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blueviolet; */
  height: 20px;
  background-color: whitesmoke;
}
.AddFood {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: #0088d6;
}
