.container {
  width: 70%;
  margin: auto;
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 80% 20%;
  justify-content: center;
}

.Ads {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.upperAds {
  display: flex;
  margin-left: 15%;
  margin-bottom: 10px;
}
table {
  display: flex;
  justify-content: flex-end;
}
th {
  /* border: 1px solid black; */

  background-color: #00548f;
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
}
th > span {
  color: #aec9db;
}
