.Container {
  display: grid;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.btn {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.btn > button {
  background-color: #197910;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}
.search {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.search > input {
  width: 50%;
  height: 30px;
  font-size: 16px;
}
.search > button {
  width: 10%;
  font-size: 18px;
}
h1 {
  text-align: center;
}
